.alert {
     border: $alert-border-width solid ;
   
  }

  .alert-link{
      text-decoration: underline;
  }

.alert-dismissible {
    .close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: .75rem 1.25rem;
        color: inherit;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;      
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
        border: 0;
        background: none;

    }
}