@font-face {
    font-family: HelveticaNeue-Thin;
    src: url("assets/fonts/HelveticaNeueLTW05-35Thin.eot?#iefix");
    src: url("assets/fonts/HelveticaNeueLTW05-35Thin.eot?#iefix") format("eot"),url("assets/HelveticaNeueLTW05-35Thin.woff2") format("woff2"),url("assets/fonts/HelveticaNeueLTW05-35Thin.woff") format("woff"),url("assets/fonts/HelveticaNeueLTW05-35Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url('assets/fonts/HelveticaNeueLTW05-45Light');
    src: url('assets/fonts/HelveticaNeueLTW05-45Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/HelveticaNeueLTW05-45Light.woff') format('woff'), url('assets/fonts/HelveticaNeueLTW05-45Light.woff2') format('woff2'), url('assets/fonts/HelveticaNeueLTW05-45Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url('assets/fonts/HelveticaNeueLTW05-65Medium.eot');
    src: url('assets/fonts/HelveticaNeueLTW05-65Medium.eot?#iefix') format('embedded-opentype'), url('assets/fonts/HelveticaNeueLTW05-65Medium.woff') format('woff'), url('assets/fonts/HelveticaNeueLTW05-65Medium.woff2') format('woff2'), url('/Site/Content/fonts/HelveticaNeueLTW05-65Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url('assets/fonts/HelveticaNeueLTW05-75Bold.eot');
    src: url('assets/fonts/HelveticaNeueLTW05-75Bold.eot?#iefix') format('embedded-opentype'), url('/Site/Content/fonts/HelveticaNeueLTW05-75Bold.woff') format('woff'), url('assets/fonts/HelveticaNeueLTW05-75Bold.woff2') format('woff2'), url('/assets/fonts/HelveticaNeueLTW05-75Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeue-Regular;
    src: url("assets/fonts/HelveticaNeueLTW05-55Roman.eot?#iefix");
    src: url("assets/fonts/HelveticaNeueLTW05-55Roman.eot?#iefix") format("eot"),url("/assets/fonts/HelveticaNeueLTW05-55Roman.woff2") format("woff2"),url("assets/fonts/HelveticaNeueLTW05-55Roman.woff") format("woff"),url("assets/fonts/HelveticaNeueLTW05-55Roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
