

/* ================== header main ==================  */
.header-top-light{
	.nav-link{ color:$gray-500; 
		&:hover{ color:$dark; }
	}
}
.navbar{
	padding-top: 0.1rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
}


.navbar-dark .navbar-nav .nav-link{
	color:$black; 
		&:hover{ color:$dark; text-decoration:underline; }
	
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active{
	color:$black;
}

.header-main{position:relative; padding-top:1rem; padding-bottom:1rem; background-color: $primary;}

.brand-wrap, .navbar-brand { 
    .logo{margin-right:7px;  max-height:42px; display:inline-block; }
}

.navbar-main{
	.nav-link{ font-weight:500; color:#1c1c1c; 
		&:hover{ color:#666; }
	}
}

.header-search{
	input{
		border:none;
	}
	button{
		border:none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background:$white;
		i{
			color:$dark;
		}
	}
}


.widget-header{ display:inline-block; vertical-align: middle; position:relative;
	a{ color:$body-color;
		&:hover{
			color:$primary;
		}
	}
	i{color:$gray-500;}
	form{min-width:280px;}
	.title{display:block}
	.notify{ position:absolute; top:-3px; right:-10px}
	&:hover{
		i{color:$primary; }
	}
}

.action-items-title{
	.navbar-dark{
		.fa{
			margin-right: 10px;
		}
	}
}


/* desktop only */
@media all and (min-width: 768px) {

	
}
/* desktop only .end */
